.usernameBox-design
{
    position: absolute;
    border: 3px solid;
    border-color: rgb(128, 20, 20);
    background-color: rgb(27, 26, 26);

    width: 35vw;
    height: 40vh;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;

    overflow: auto;
    text-align: center;
    
}

.welcomeText-design
{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(167, 24, 24);

    margin-top: 5vh;
}

.textBox-design
{
    margin-top: 3vh;
    font-size: 25px;
    color: rgb(169, 255, 255); 
    text-align: center;

    background-color: rgb(61, 58, 58);
    border: 2px solid rgb(128, 20, 20);
    border-radius: 10px;

    width: 230px;
    height: 35px;  
}

.submitButton-design
{
    margin-top: 1vh;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(61, 58, 58);
    border: 3px solid rgb(128, 20, 20);
    border-radius: 15px;

    width: 120px;
    height: 50px;  
}

.errorText-design
{
    font-size: 20px;
    font-weight: bold;
    color: rgb(182, 36, 10);
    text-align: center;
}